*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.prof
*.swp
*~
.DS_Store
.\#*
.cabal-sandbox/
.directory
.gradle/
.hpc
.hsenv
.stack-work/
/_site
\#*\#
cabal-dev
cabal.sandbox.config
dist
thumbs.db
~$*
